[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=BatchRename;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
Icon=cm_multirename
X-KDE-MinNumberOfUrls=2

[Desktop Action BatchRename]
Name=Batch Rename
Exec=Batch_Renamer %U
